<img src="../boxplot.png" width=70%>

In [1]:
# Nosso objetivo neste exercício é obter o conjunto de estatísticas representado na figura acima
# o arquivo aluguel_amostra.csv, e utilize-o para realizar suas análises utilizando 
# como variável alvo o Valor m2 (valor do metro quadrado). 
# Lembrando que Q1 representa o 1º quartil e Q3 o 3º quartil, 
# selecione o item com a resposta correta (considere somente duas casas decimais)

In [2]:
import pandas as pd

In [4]:
dados = pd.read_csv('../Datas/aluguel_amostra.csv', sep=';')

In [5]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Recreio dos Bandeirantes,3,2,1,320,3200.0,1319.0,0.0,10.00,Apartamento
1,Apartamento,Maracanã,2,0,0,59,800.0,725.0,47.0,13.56,Apartamento
2,Apartamento,Leblon,3,2,1,147,7500.0,1000.0,381.0,51.02,Apartamento
3,Apartamento,São Conrado,3,3,3,270,14999.0,2800.0,1200.0,55.55,Apartamento
4,Apartamento,Tijuca,2,1,0,65,1200.0,640.0,97.0,18.46,Apartamento
5,Apartamento,Cachambi,2,1,1,75,1400.0,715.0,0.0,18.67,Apartamento
6,Apartamento,Glória,1,0,0,52,1700.0,560.0,0.0,32.69,Apartamento
7,Apartamento,Engenho Novo,2,1,0,70,1200.0,430.0,21.0,17.14,Apartamento
8,Apartamento,Maracanã,1,1,0,59,1500.0,410.0,0.0,25.42,Apartamento
9,Apartamento,Flamengo,3,0,0,100,2500.0,980.0,105.0,25.00,Apartamento

In [6]:
valor = dados['Valor m2']
valor

0       10.00
1       13.56
2       51.02
3       55.55
4       18.46
        ...
9995    96.88
9996    31.58
9997    40.00
9998    34.00
9999     8.33
Name: Valor m2, Length: 10000, dtype: float64

In [39]:
Q1 = valor.quantile(.25)
Q3 = valor.quantile(.75)
IIQ = round(Q3 - Q1,2)
limite_inferior = (Q1 - 1.5 * IIQ).round(2)
limite_superior = (Q3 + 1.5 * IIQ).round(2)

In [43]:
print(f'O resultado do Q1 é: {Q1} | Q2 é: {Q2} | IIQ é: {IIQ} | Valor Inferior é: {limite_inferior} | Valor Superior é: {limite_superior}')

O resultado do Q1 é: 21.25 | Q2 é: 42.31 | IIQ é: 21.06 | Valor Inferior é: -10.34 | Valor Superior é: 73.9